/build/
/dist/
/out/
/node_modules/
*.log
*.tmp
.DS_Store
Thumbs.db
.env
.vscode/
.idea/
*.sublime-*
.env
.env.local
npm-debug.log
yarn-debug.log
yarn-error.log
.cache/
*.bak
*.swp
*.exe
*.out
